* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

body {
    font-family: 'Roboto', sans-serif;
}

.main-wrapper {
    width: 100%;
    height: 100vh;
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url('../img/japan2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}

.top-nav {
    margin: 0 auto;
    position: sticky;
    z-index: 10;
    top: 40px;
    filter: drop-shadow(0em 0em 5px rgb(200, 200, 200));
}

.top-nav .clip-div {
    background-color: #ffffff;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(50% 0%, 100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
    padding-bottom: 30px;
    text-align: center;
}

.top-nav .container {
    max-width: 500px;
    padding-left: 30px;
    padding-right: 30px;
}

.top-nav::after {
    content: '';
    width: calc(100% - 30px);
    margin: 0 auto;
    height: 30px;
    background-color: #FBDFB2;
    border-radius: 100px;
    position: absolute;
    left: 50%;
    top: calc(50% - 8px);
    transform: translate(-50% , -50%);
    z-index: -1;
}

.top-nav h2 {
    font-size: 24px;
    line-height: 32px;
    color: #030303;
}

.content-wrapper .top-box-row {
    margin-top: 50px;
}

.content-wrapper .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bottom-minus {
    position: relative;
    top: 50px;
}

.inner-box-wrap {
    display: flex;
    flex-wrap: wrap;
}

.inner-box-wrap .inner-box {
    margin-bottom: 30px;
}

.inner-box-wrap .inner-box:not(:last-child) {
    margin-right: 30px;
}

.inner-box-wrap .inner-box .inner-head {
    background-color: #F29700;
    padding: 5px 10px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 5px;
}

.inner-box-wrap .inner-box .inner-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    row-gap: 5px;
}

.inner-box-wrap .inner-box .inner-body.col-1{
    grid-template-columns: 1fr;
}

.inner-box-wrap .inner-box .inner-body.col-3{
    grid-template-columns: 1fr 1fr 1fr;
}

.inner-box-wrap .inner-box .inner-body .box {
    border: 1px solid rgb(114, 114, 114);
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(219, 219, 219);
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.extra-container {
    display: flex;
    flex-wrap: wrap;
}

.right-boxes {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.first-child {
    margin-right: 0 !important;
}


.extra-space {
    margin-right: 75px !important;
}

@media screen and (max-width: 480px) {
    .main-wrapper {
        width: 100%;
        height: auto;
        background-position: top;
        background-size: cover;
        background-repeat: repeat;
    }

    .inner-box ,.inner-box-wrap .inner-box .inner-body .box {
        width: 100%;
    }

    .inner-box-wrap .inner-box:not(:last-child) {
        margin-right: 0;
    }

    .content-wrapper .row {
        justify-content: center;
    }

    .right-boxes ,.extra-container {
        width: 100%;
    }

    .extra-space {
        margin-right: 0 !important;
    }

    .content-wrapper .top-box-row {
        margin-top: 20px;
    }
    
    .bottom-minus {
        top: 0;
    }

    .inner-box-wrap {
        width: 100%;
    }
}